{% extends 'base.html.twig' %}

{% block body %}
<h1>Заказы</h1>

<table border="1" cellpadding="10">
    <thead>
        <tr>
            <th>ID</th>
            <th>Уникальный код</th>
            <th>Название</th>
            <th>Количество</th>
            <th>Статус</th>
            <th>Дата заказа</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.orderId }}</td>
                <td>
                    {{ flowerNames[order.flowerId] is defined ? flowerNames[order.flowerId] : 'Неизвестно' }}
                </td>
                <td>{{ order.amount }}</td>
                <td>
                    {% if order.status == 0 %}
                        Completed
                    {% elseif order.status == 1 %}
                        Pending
                    {% elseif order.status == 2 %}
                        Canceled
                    {% else %}
                        Unknown
                    {% endif %}
                </td>
                <td>{{ order.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Нет заказов</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
