{% extends 'base.html.twig' %}

{% block body %}
<h1>cart List</h1>

<table border="1" cellpadding="10">
    <thead>
        <tr>
            <th>ID</th>
            <th>cart ID</th>
            <th>Flower</th>
            <th>Amount</th>
            <th>Status</th>
            <th>Created At</th>
        </tr>
    </thead>
    <tbody>
        {% for cart in carts %}
            <tr>
                <td>{{ cart.id }}</td>
                <td>{{ cart.cartId }}</td>
                <td>
                    {{ flowerNames[cart.flowerId] is defined ? flowerNames[cart.flowerId] : 'Unknown Flower' }}
                </td>
                <td>{{ cart.amount }}</td>
                <td>
                    {% if cart.status == 0 %}
                        Completed
                    {% elseif cart.status == 1 %}
                        Pending
                    {% elseif cart.status == 2 %}
                        Canceled
                    {% else %}
                        Unknown
                    {% endif %}
                </td>
                <td>{{ cart.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">No carts found</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
