{% extends 'base.html.twig' %}

{% block body %}
<h1>Storage</h1>

{# Уведомления #}
{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}

{# Форма добавления товара на склад #}
<h2>Add to Storage</h2>
{{ form_start(form) }}
    {{ form_row(form.flowerId) }}
    {{ form_row(form.amount) }}
    <button type="submit" class="btn btn-primary">Add</button>
{{ form_end(form) }}

{# Таблица склада #}
<table border="1" cellpadding="10">
    <thead>
        <tr>
            <th>ID</th>
            <th>Flower</th>
            <th>Available Amount</th>
        </tr>
    </thead>
    <tbody>
        {% for item in assortment %}
            <tr>
                <td>{{ item.id }}</td>
                <td>
                    {{ flowerNames[item.flowerId] is defined ? flowerNames[item.flowerId] : 'Unknown Flower' }}
                </td>
                <td>{{ item.amount }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No storage data available</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
